body {
    font-family: 'Quattrocento Sans', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 60px;
    color: #0091EA;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

p, ul, li {
    font-size: 18px;
}

a, a:visited {
    color: #FAFAFA;
}

a:hover {
    color: #E91E63;
}

.titleSection {
    background-color: #0091EA;
    height: 100vh;
    width: 100vw;
}

.titleText {
    font-size: 90px;
    color: white;
    font-weight: 800;
    text-align: center;
}

.subtitleText {
    font-size: 20px;
    color: #EEEEEE;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glyphPosition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    transition: all .2s ease-in-out;
}

.glyphPosition:hover {
    transform: scale(1.5);
}

.card {
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.55);
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.55);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: white;
}

.card.blue {
    border-left: 10px solid #0091EA;
}

.card.secondary {
    border-left: 10px solid #00EE75;
}

.white {
    color: white;
}

.date {
    font-size: 17px;
    color: #00B459;
    margin-top: 0px;
}

#experienceSection {
    background-color: #EEEEEE;
}

#educationSection {
    background-color: #0091EA;
}

#highlightsSection {
    background-color: #EEEEEE;
}

#skillsSection {
    background-color: #FAFAFA;
}

#contactSection {
    background-color: #616161;
}
