body {
  font-family: 'Inconsolata', monospace;
  /* background-color: #f2e3c6; */
  background-color: #A7DBDB;
  margin: 0 auto;
}

@media (max-width: 499px) {
  body {
    width: 90%;
  }
}

@media (max-width: 1099px) and (min-width: 500px) {
  body {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  body {
    width: 60%;
  }
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h3, h4, h5 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

.title {
  margin-bottom: 0px;
  margin-left: 0px;
}

.subtitle {
  margin-top: 0px;
  padding-left: 3px;
}

.titleblock {
  margin-top: 3em;
  margin-bottom: 2em;
}

.data {
  padding-left: 3px;
  margin-bottom: 3em;
}