@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");

.box {
  margin: auto;
  width: 90%;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 5em;
  margin: 1em 0em 0em 0em;
}

.subtitle {
  font-family: "Roboto Slab", serif;
  margin-top: 0px;
  margin-bottom: 3em;
}
